{
 :TODO "TODO"
 :DEBUG "DEBUG"

 :project "Projekt"
 :video "Video"
 :videos "Videos"
 :category "Kategorie"
 :categories "Kategorien"
 :word "Wort"
 :words "Wörter"
 :phrase "Phrase"
 :phrases "Phrasen"
 :match "Übereinstimmung"

 :overview "Übersicht"
 :content "Inhalt"
 :glossary "Glossar"
 :wordcloud "Wortwolke"
 :transcript "Transkript"
 :matrix "Matrix"
 :hitlist "Häufige Worte"

 :frame-title-prefix nil
 :frame-top-menu-title "Hauptmenü"
 :frame-top-menu-project :project
 :frame-top-menu-categories :categories
 :frame-top-menu-videos :videos
 :frame-menu-title "Ansichten"

 :copyright-holder "Tobias Kiertscher von der Fachhochschule Brandenburg"
 :copyright-href "http://informatik.fh-brandenburg.de/~kiertsch/"

 :main-title nil
 :main-h :project

 :main-menu-overview :overview
 :main-menu-wordcloud :wordcloud
 :main-menu-matching-matrix :matrix
 :main-menu-glossary :glossary

 :main-overview-h :overview
 :main-overview-d "Ein Projekt enhält Videos und Kategorien. Aus den Videos wurden mit Hilfe von Spracherkennung Worte und Phrasen extrahiert. Die Kategorien sind jeweils durch eine Gruppe von Texten definiert. Die Worte aus den Videos und Kategorien wurden nach Häufigkeit untersucht miteinander abgeglichen."
 :main-overview-description-h "Beschreibung"
 :main-overview-content-h :content
 :main-overview-hitlist-h :hitlist
 :main-overview-hitlist-d "Das folgende Diagramm zeigt die häufigsten Worte in allen Videos. Die Balkenlänge beschreibt die Worthäufigkeit und die Farbintensität beschreibt die Sicherheit mit der das Wort durch die Spracherkennung erkannt wurde."
 :main-overview-videos "Videos: "
 :main-overview-categories "Kategorien: "
 :main-overview-words "Wörter: "
 :main-wordcloud-h "Globale Wortwolke"
 :main-wordcloud-d "Die globale Wortwolke zeigt die häufigsten Worte aus allen Videos an. Die Größe eines Wortes beschreibt die Häufigkeit, die Intensität der Farbe beschreibt die Erkennungssicherheit der Spracherkennung."
 :main-glossary-h "Globaler Glossar"
 :main-glossary-d "Der globale Glossar enthält die Worte aus allen Videos. Jedes Wort ist mit einer Detail-Seite verknüpft, welche weitere Informationen über das Wort im Kontext des gesamten Projektes enthält."
 :main-matching-matrix-h "Übereinstimmungsmatrix"
 :main-matching-matrix-d "Die Übereinstimmungsmatrix zeigt die Übereinstimmung zwischen Videos und Kategorien. Eine hohe Übereinstimmung bedeutet, dass häufige Worte eines Videos auch häufig in einer Kategorie vorkommen. Die Prozentangabe beschreibt die Übereinstimmung relativ zur besten Übereinstimmung im ganzen Projekt. Die Hintergrundfarbe beschreibt die Übereinstimmung relativ zur besten Übereinstimmung für das jeweilige Video."
 :main-word-h :word
 :main-word-occurrences "Vorkommen: "
 :main-word-mean-confidence "Mittlere Erkennungssicherheit: "
 :main-word-category-list-empty "Dieses Wort kommt in keiner Kategorie vor."
 :main-word-videos-h :videos
 :main-word-categories-h :categories

 :categories-title nil
 :categories-h :categories
 :categories-menu-overview :overview
 :categories-overview-h :overview
 :categories-overview-d "Die folgenden Kategorien sind im Projekt enthalten."

 :videos-title nil
 :videos-h :videos
 :videos-menu-overview :overview
 :videos-overview-h :overview
 :videos-overview-d "Die folgenden Videos sind im Projekt enthalten."

 :category-title :category

 :category-menu-overview :overview
 :category-menu-wordcloud :wordcloud
 :category-menu-videos :videos
 :category-menu-glossary :glossary

 :category-overview-h :overview
 :category-overview-resource-count "Quellen: "
 :category-overview-word-count "Gesamtanzahl Worte: "
 :category-overview-index-size "Worte im Index: "
 :category-overview-hitlist-h :hitlist
 :category-overview-hitlist-d "Das folgende Diagramm zeigt die häufigsten Worte in der Kategorie. Die Balkenlänge beschreibt die Häufigkeit des Wortes."
 :category-wordcloud-h :wordcloud
 :category-wordcloud-d "Die Wortwolke zeigt die häufigsten Worte dieser Kategorie an. Die Größe eines Worte beschreibt seine Häufigkeit."
 :category-videos-h :videos
 :category-videos-d "Das folgende Diagramm zeigt Videos, die mit dieser Kategorie übereinstimmen. Die Balkenlänge beschreibt den Grad der Übereinstimmung eines Videos mit dieser Kategorie."
 :category-glossary-h :glossary
 :category-glossary-d "In diesem Glossar sind alle Worte dieser Kategorie aufgeführt. Jedes Wort ist mit einer Detail-Seite verknüpft, welche weitere Informationen über das Wort im Kontext dieser Kategorie enthält."
 :category-word-h :word
 :category-word-occurrences "Vorkommen: "
 :category-word-video-list-empty "Dieses Wort kommt in keinem Video vor."
 :category-word-videos-h :videos
 :category-match-h :match

 :video-title :video

 :video-menu-overview :overview
 :video-menu-wordcloud :wordcloud
 :video-menu-transcript :transcript
 :video-menu-categories :categories
 :video-menu-glossary :glossary

 :video-overview-h :overview
 :video-overview-duration "Länge: "
 :video-overview-phrase-count "Erkannte Phrasen: "
 :video-overview-word-count "Erkannte Worte: "
 :video-overview-index-size "Worte im Glossar: "
 :video-overview-mean-confidence "Mittlere Erkennungssicherheit: "
 :video-wordcloud-h :wordcloud
 :video-transcript-h :transcript
 :video-categories-h :categories
 :video-glossary-h :glossary
 :video-word-h :word
 :video-word-occurrences "Vorkommen: "
 :video-word-mean-confidence "Mittlere Erkennungssicherheit: "
 :video-word-category-list-empty "Dieses Wort kommt in keiner Kategorie vor."
 :video-word-phrases-h :phrases
 :video-word-categories-h :categories

 :match-normalized "Gesamt (normalisiert): "
}
